#contenedor {
    background-color: red;
    box-sizing: content-box;
    padding: 5px 15px 20px 10px;
    position: sticky;
    /*top: 200px;*/
    left: 50px;
    order: 5;
    flex-shrink: 1;
}

.items {
    flex-grow: 1;
}

#container {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    /*justify-content: space-evenly;
    align-items: baseline;*/}
    align-cotent: flex-end;
    height: 600px;
    border-bottom: 1px solid blue;
}